* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  max-width: 400px;

  margin: 20px auto;
}
#app > * {
  margin-bottom: 20px;
}

.form {
  display: flex;
  gap: 10px;
}

.form input {
  padding: 5px 20px;
  border-radius: 5px;
}

.form button {
  padding: 0px 20px;
  background-color: transparent;
  border: none;
  outline: 2px solid blue;
  border-radius: 5px;
  cursor: pointer;
}
.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-item {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-item > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.completed p {
  text-decoration: line-through;
}
